.login-page, .register-page {
    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        align-items: unset;

        .textbox, select {
            margin-bottom: 20px;
        }
    }
}
