//Add Autoprefixer with sass
//https://www.youtube.com/watch?v=1uweInAfAoo
//https://github.com/postcss/autoprefixer

//https://stackoverflow.com/questions/52261260/react-dynamic-themes
//https://itnext.io/css-variables-dynamic-app-themes-86c0db61cbbb
//Basically set all colours in SASS variables, then use a mobx variable and local storage to change the theme
//https://codeburst.io/a-successful-sass-theme-structure-ca9d1c477dc7


@import 'StyleSheet.scss';
@import 'Login.scss';
@import 'NavMenu.scss';
@import 'AddToGroup.scss';
@import 'CreateQuiz.scss';

body {
    background-color: $main-background-colour;

    h1, h2, h3, h4, h5, h6 {
        color: $main-text-colour;
    }

    p, label, div {
        color: $main-text-colour;
    }

    .btn, .btn-primary {
        //background-color: $main-btn-background-colour;
        color: $main-btn-text-colour !important;
    }
    
    @media (max-width: 767px) {
        padding-top: 0px;
    }
}

html, body, #react-app, .container-fluid {
    height: 100%;

    @media (min-width: 768px) {
        overflow: hidden;
    }
}

.container-fluid {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
}

.main-nav {
    position: relative;
    margin: 0px;

    .navbar {
        margin: 0px;
    }
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;

    @media (min-width: 768px) {
        overflow: auto;
    }
}

.page-parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.strd-btn {
    max-width: 200px;
}