@import 'Variables.scss';

div.dropdown {
    /* If a menu item's text is too long, truncate it */
    //padding: 10px 16px;
    border-radius: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        a {
            color: $nav-link-colour;
            padding-left: 30px !important;

            @media (max-width: 768px) {
                margin-bottom: 5px;
                margin-top: 2px;
                padding-left: 30px;
            }
        }

        a:hover {
            color: $nav-link-hover-colour;
            background-color: transparent;
            text-decoration: none;
        }
    }

    > .dropdown-toggle {
        color: $nav-link-colour;
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        border: none;
        text-align: left;
        padding: 10px 16px;
    }

    > .dropdown-toggle:hover {
        color: $nav-link-hover-colour;
        background-color: transparent;
    }
}

.dropdown.open > .dropdown-menu {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 310px;
        min-width: 310px;
        position: relative;
        top: 0px;
    }

    .main-nav {
        .navbar {
            display: flex;
            flex-direction: column;

            .navbar-collapse {
                display: flex !important;
                flex-direction: column;
                height: 100% !important;

                .navbar-nav {
                    overflow: auto;
                }
            }
        }
    }

    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .main-nav .navbar-header {
        float: none;
    }

    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .main-nav .navbar ul {
        float: none;
    }

    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .main-nav .navbar li a,
    .dropdown-toggle {
        padding: 10px 16px;
        border-radius: 4px;
    }

    .main-nav .navbar a,
    .dropdown-toggle {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.main-nav li a {
    //background-color: #4189C7;
    color: $nav-link-colour !important;
    text-decoration: none;
}

.main-nav li a.active,
.main-nav li a:hover,
.main-nav li a:focus {
    //background-color: #4189C7;
    color: $nav-link-hover-colour !important;
    text-decoration: none;
}

.navbar {
    background-color: $main-nav-background-colour;
}

.navbar-header {
    @media (min-width: 768px) {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

.navbar-nav {
    @media (min-width: 768px) {
        padding-top: 10px !important;
    }
}