.trainer-results-page {
    .noGroupUsersList {
        > div {
            cursor: default;
        }

        > div:hover {
            box-shadow: none;
        }
    }

    .average-score {
        margin-bottom: 7px;
        margin-left: 30px;
    }
}

