$main-color-Light: #f3e2c7;
$main-color-Dark: #b68d4c;

$main-background-colour: #77aacb;
$main-text-colour: #000000;

$main-btn-background-colour: #0074D9;
$main-btn-text-colour: #ffffff;

$nav-link-colour: #b3b3b3;
$nav-link-hover-colour: #fff;