$main-color-Light: #f3e2c7;
$main-color-Dark: #b68d4c;

$main-background-colour: #22282e; //77aacb
$main-text-colour: #232323; //1b1b1b

$main-btn-background-colour: #0074D9;
$main-btn-text-colour: #ffffff;

$nav-link-colour: #b3b3b3;
$nav-link-hover-colour: #fff;

$main-nav-background-colour: rgba(28, 30, 30, 1);